.container_cards {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card_dog {
    padding: 20px;
    border: 2px solid #069a8e;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    color: #393E46;
    background-color: #BBDED6;
}

.card_dog img {
    height: 150px;
}

.container_temps {
    border: 1px solid red;
}