.container_cards {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card_dog {
    padding: 10px;
    border: 2px solid #069a8e;
    border-radius: 10px;
    margin-top: 20px;
    color: #393E46;
    background-color: #BBDED6;
}

.dog_button {
    text-align: right;
}

.dog_button button {
    background-color: #EA5455;
    border-radius: 5px;
    border: 1px solid #2D4059;
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
}

.dog_title {
    display: flex;
    justify-content: center;
}

.dog_title h1{
    margin: 0;
    font-size: 35px;
}

.details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}


.details img {
    height: 150px;
    border-radius: 10px;
}

.container_temps {
    border-radius: 10px;
    padding: 0 10px 10px 10px;
}

.container_temps p {
    margin-bottom: 0px;
}