.main {
    background-image: url('../assets/Dog3.jpg');
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
}

.title h1 {
    color: white;
    margin: 0;
    margin-bottom: 500px;
    margin-left: 200px;
}