.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #069A8E;
}
.container_list {
    width: 50%;
}

.container_list ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.container_list li {
    color: #F7FF93;
}

.container_list a {
    text-decoration: none;
}

.container_list img {
    height: 55px;
}

.container_input {
    width: 50%;
    text-align: end;
}

.container_input input {
    padding: 7px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
}
.container_input button {
    padding: 7px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}
